body{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
img{
    max-width: 100%;
}
p, ul, h1,h2,h3,h4{
    margin: 0;
    padding: 0;
    color: #14191CD9;
}
h1{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:800;
}
p{
    font-size: 17px;
    color: #14191CD9;
    line-height: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a{
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}

.df{
    display: flex;
}
.dn{
    display: none;
}
.j-sp-btw{
    justify-content: space-between;
}
.a-center{
    align-items: center;
}
.tc{
    text-align: center;
}
.pa{
    position: absolute;
}
.pr{
    position: relative;
}
.f-column{
    flex-direction: column;
}
header{
    width: 80px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    background:#F0F1F6;
    padding: 40px 0;
    z-index: 999;
}

.menu{
    width: 24px;
    height: 24px;
    background: url("../images/icons/Menu.svg");
}
.search{
    width: 24px;
    height: 24px;
    background: url("../images/icons/Search.svg");
}

.arrow__top{
    width: 24px;
    height: 24px;
    background: url("../images/icons/Up.svg");
    display: flex;
}
.arrow__bottom{
    width: 24px;
    height: 24px;
    background: url("../images/icons/Down.svg");
    display: flex;

}

.inst a{
    width: 24px;
    height: 24px;
    display: flex;
    background: url("../images/icons/Instagram.svg");

}
.ln a{
    width: 24px;
    height: 24px;
    display: flex;
    background: url("../images/icons/Linkedin.svg");

}
.tw a{
    width: 24px;
    height: 24px;
    display: flex;
    background: url("../images/icons/twitter.svg");

}
.fb a{
    width: 24px;
    height: 24px;
    display: flex;
    background: url("../images/icons/Facebook.svg");

}

.social__icons{
    gap: 32px;
}

.header__top{
    gap: 32px;
    display: flex;
    flex-direction: column;
}

.navigation{
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{

}

.btn{
    height: 48px;
    border: 1px solid rgba(20, 25, 28, 0.25) ;
    padding: 12px 24px;
    color: #14191CD9;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.btn__red{
    background: #ED1C24;
    height: 52px;
    color: #fff;
    padding: 14px 32px;
}

.catalog__btn{
    background: #fff;
    gap: 12px;
    justify-content: center;
    display: flex;
    cursor: pointer;
}
.logo{
    padding-right: 119px;
    box-sizing: border-box;
    margin-bottom: 82px;
}

.banner h1{
    font-size: 96px;
    line-height: 104px;
    color: #14191CD9;
    width: fit-content;
    background: #fff;
    padding-right: 30px;

}
.banner p{
    font-size: 24px;
    line-height: 28px;
    color: #14191CD9;
    margin-bottom: 48px;
    padding-top: 24px;
    background: #fff;
    width: 550px;
    padding-right: 40px;
}

.banner__right{
    gap: 48px;
}
.banner__left{
    position: absolute;
    left: 174px;
    bottom: 145px;
}
.banner{
    justify-content: flex-end;
}
.partner__logo{
    justify-content: flex-end;
    gap: 40px;
    padding-right: 60px;
}

section {
    padding-bottom: 79px;
    padding-left: 200px;
    padding-top: 30px;
    padding-right: 60px;
    box-sizing: border-box;
    height: 100%;
}

.products{
    padding-top: 56px;
    color: #14191CD9;
    background: url('../images/bg1.svg') no-repeat;
    background-size: cover;
}
.products h2{
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 16px;
    color: #14191CD9;
}
.products h2 span {
    color: #0095D5;
}
.products p{
    font-size: 24px;
    line-height: 28px;
    max-width:736px;
    margin-bottom: 32px;
    color: #14191CD9;
}
.products p span{
    color: #0095D5;

}

.counter{
    gap: 32px;
    margin-bottom: 32px;
}
.counter__item{
    padding: 16px 24px;
    height: 128px;
    color: #fff;
    background: #F7B267;
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;



}

.counter__item p{
    display: flex;
    flex-direction: column;
    gap:32px;
    color: #fff;
    margin-bottom: 0;

}
.counter__item p span{
    color: #fff;
}

.counter__item span{
    font-size: 32px;
}
.tag__item{
    padding: 4px 12px;
    font-size: 13px;
    border-radius: 24px;
    background: #F0F1F6;

}

.tags ul{
    gap: 8px;
    margin-bottom: 32px;
}

.carousel__item{
    width: 100%;
    height: 492px;
    border-radius: 24px;
    border-top-left-radius: 0;
    border: 1px solid #14191C40;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 32px;
    background: #fff;
}
.carousel__item p{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
}
.carousel__item img{
    margin-bottom: 24px;
}
.product__carousel{
    gap: 32px;
}
.carousel__item .btn{
    width: 100%;
}
.btn__gray{
    background: #14191C26;
    border: none;
}
.carousel__item .btn__gray{
    margin-bottom: 16px;
}
.btn__white{
    border: 1px solid #14191C40;
    background: #fff;
}

.service{
    background: url('../images/bg2.svg') no-repeat;
    background-position: bottom left;
    padding-right: 120px;
}
.service__item{
    width: 544px;
    border-radius: 24px;
    border-top-left-radius: 0;
    border: 1px solid #14191C40;
    padding: 30px;
    box-sizing: border-box;
    background: #fff;
}
.service__item h2{
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 16px;
    color: #14191CD9;
}
.service__item p{
    font-size: 17px;
    line-height: 24px;
    color: #14191CD9;
}
.service h1{
    color: #14191CD9;
    font-size: 96px;
    line-height: 104px;
    max-width: 700px;
    width: 100%;
    margin-bottom: 52px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:800;
}

.blog{
    background: url('../images/bg3.svg') no-repeat;
    background-position: bottom left;
    padding-right: 120px;
    padding-top: 56px;
    height: 100%;
}

.blog h1{
    color: #14191CD9;
    font-size: 96px;
    line-height: 104px;
    max-width: 700px;
    width: 100%;
    margin-bottom: 80px;
}
.blog__list{
    gap: 32px;
}

.blog__item h2{
    color: #0095D5;
    font-size: 32px;
    margin-bottom: 32px;
}

.blog__item li{
    font-size: 17px;
    line-height: 24px;
    list-style-type: disc;
    color: #14191CD9;
}
.blog__item ul{
    padding-left: 20px;
}
.blog__item{
    flex-grow: 1;
    flex-basis: 0;
}

.contact{
    background: url('../images/bg4.svg') no-repeat;
    background-size: cover;
    background-position: bottom right;
    padding-bottom: 252px;
    padding-right: 120px;
}

.contact p{
    max-width: 544px;
    width: 100% ;
    margin-bottom: 80px;
}

.contact h1{
    font-size: 96px;
    line-height: 104px;
    margin-bottom: 32px;
}

.contact__info{

    gap:32px;
}

.contact__left, .contact__right{
    flex-grow: 1;
    flex-basis: 0;
}

.contact__left li{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    gap: 8px;
}
.contact__left li span{
    font-size: 40px;
    color: #0095D5;
    line-height: 48px;
}


.contact__right form{
    width: 100%;
}

.contact__right input{
    width: 100%;
    background: #C1CAD6;
    border-radius: 8px;
    padding: 0 12px;
    height: 52px;
    margin-bottom: 24px;
    border: none;
    box-sizing: border-box;
    font-family: 'Lato', 'sans-serif';
    font-weight: 400;
}
.contact__right .form__row{
    gap: 24px;
}

textarea{
    background: #C1CAD6;
    border-radius: 8px;
    padding: 14px 12px;
    height: 210px;
    width: 100%;
    margin-bottom: 24px;
    border: none;
    box-sizing: border-box;
    resize: none;
    font-family: 'Lato', 'sans-serif';
    font-weight: 400;
}

.slick-vertical .slick-slide{
    height: 100vh;
}

main .slick-track{
    display: flex!important;
    flex-direction: column;
}
.main__menu{
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    overflow: auto;

}
.search__menu{
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    overflow: auto;
}
.main__menu.show{
    display: flex;
}
.search__menu.show{
    display: flex;
}
.main__menu ul{
    max-width: 1200px;
    width: 100%;
}
.search__menu input{
    border: none;
    border-bottom: 1px solid #14191C40;
    font-size: 48px;
    line-height: 56px;
    padding: 16px 0;
    color: #14191C8C;
    width: 100%;
    text-align: center;
    max-width: 1200px;
}

.main__menu li a{
    font-size: 96px;
    color: #14191CD9;
    text-align: center;
    width: 100%;
    padding: 30px 10px;
    line-height: 104px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    box-sizing: border-box;
}
.main__menu li a:hover{
    background: #0095D5;
    color: #fff;
}
.main__menu li{
    text-align: center;
    width: 100%;

}

.main__menu h4{
    font-size: 13px;
    margin-bottom: 48px;
    letter-spacing: 2px;
}

.menu__close{
    width: 48px;
    height: 48px;
    background: url('../images/icons/Close.svg') no-repeat;
    position: absolute;
    top: 40px;
    left: 40px;
}

.about__info{
    padding: 80px 120px 56px 200px;
    box-sizing: border-box;
}

.about__info p{
    color: #14191CD9;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.about__info h2{
    font-size: 64px;
    line-height: 72px;
    text-align: center;
    color: #59C9A5;
    margin-top: 48px;
    margin-bottom: 48px;
}

.about{
    overflow: auto;
    height: 100vh;
    position: relative;
}
.title__img{
    position: relative;
    height: 372px;
    margin-bottom: 56px;
}
.title__img:before{
    content: '';
    height: 186px;
    width: 100%;
    background: url('../images/title.svg') no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    background-size: 100%;
}
.title__img:after{
    content: '';
    height: 186px;
    width: 100%;
    background: url('../images/title1.svg') no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    background-size: 100%;
}

.about__vision{
    padding-left: 200px;
    padding-right: 120px;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-bottom: 56px;
}
.about__vision h3{
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #14191CD9;
    margin-bottom: 24px;
}

.about__vision hr{
    width: 70%;
}


.about__vision p{
    font-size: 17px;
    color: #14191CD9;
    margin-top: 24px;
    text-align: center;

}

.get__in__touch{
    background: #59C9A5;
    max-width: 1120px;
    margin: 0 auto;
    border-radius: 24px;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 50px;
    margin-bottom: 80px;
    margin-left: 200px;
}
.get__in__touch .get__title{
    font-size: 96px;
    line-height: 104px;
    color: #fff;
    word-break: break-word;
    width: 700px;
    font-family: "Playfair Display", serif;
    font-weight: 700;

}

.get__contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 24px;
    color: #fff;

}
.get__contact p{
    color: #fff;
}
.get__contact a{
    color: #fff;
    font-size: 32px;
}
.get__contact a.btn{
    font-size: 17px;
    background: #FFFFFF26;
    border: none;
}
.tag__item--active{
    background: #ED1C24;
    color: #fff;
}
.category{
    padding: 56px 120px 56px 200px;
    background: url('../images/category-bg.svg') no-repeat;
    background-size: cover;
}
.post__list{
    flex-wrap: wrap;
    gap: 32px;
}
.category h1{
    font-size: 96px;
    line-height: 104px;
    margin-bottom: 32px;
}
.post{
    background: url('../images/post-bg.svg') no-repeat;
    background-size: cover;
}

.post__item{
    border: 1px solid #14191C40;
    background: #fff;
    border-radius: 24px;
    border-top-left-radius: 0;
    padding: 30px;
    box-sizing: border-box;
    max-width: 100%;
    width: 48%;
}
.post__item h3{
    font-size: 32px;
    line-height: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #14191CD9;
}

.category .post__title{
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 32px;
}
.back__icon{
    margin-bottom: 32px;
}
.post__date{
    margin-bottom: 32px;
}
.post__content{
    margin-top: 32px;
    max-width: 732px;
    margin-left:auto;
    margin-right:auto;
}

.post__content h4{
    font-size: 32px;
    line-height: 40px;
    color: #0095D5;
    margin-top: 32px;
    margin-bottom: 32px;
}

.post__content ul{
    margin-top: 32px;
    margin-bottom: 32px;
    padding-left: 24px;
}

.post__content ul li{
    list-style: disc;
    font-size: 17px;
    line-height: 24px;
}
.post__btn{
    margin-top: 32px;
}
.all{
    padding: 56px 120px 56px 200px;
}
.categories{
    gap: 32px;
    justify-content: space-between;
}
.product__list{
    flex-wrap: wrap;
    gap: 16px 32px;
}

.categories__left{
    max-width: 352px;
    width: 100%;
}

.categories__right{
    max-width: 736px;
    width: 100%;
}
.product__item{
    width: 351px;
    height: 174px;
    background: #F0F1F6;
    border-radius: 16px;
    border-top-left-radius: 0;
    padding: 16px;
    box-sizing: border-box;
    gap: 8px;
}

.product__item p{
    font-size:13px;
    margin-bottom: 4px;
    color: #14191C8C;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    letter-spacing: 2px;
}

.product__item h4{
    font-size: 17px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.categories__left h4{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
}
.categories__left a{
    font-size: 17px;
    line-height: 24px;
    color: #14191CD9;
    margin-bottom: 8px;
    display: flex;
}
.categories__left span{
    color: #14191C8C;
}
.categories__left ul{
    margin-bottom: 24px;
}
.back__icon{
    gap: 16px;
}
.back__icon span{
    font-size: 17px;
    color: #14191CD9;
}
.all h1{
    font-size: 64px;
    line-height: 72px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.categories__right h3{
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 24px;
}
.count{
    font-size: 17px;
    color: #14191CD9;
}

.categories__right .btn__red{
    margin-top: 24px;
}
.single__product{
    padding: 56px 120px 56px 200px;
}
.product__title{
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 32px;
}
.product__info div:first-child{
    align-items: baseline;
    margin-bottom: 24px;
}

.price{
    font-size: 40px;
    line-height: 48px;
    color: #14191CD9;
    margin-bottom: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}
.stars ul{
    gap: 8px;
    margin-bottom: 38px;
    list-style: none;
}

.product__info h3{
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
}
.product__info .specification li{
    list-style: disc;
    color: #14191CD9;
    font-size: 17px;
    line-height: 24px;
}
.specification{

    padding-left: 24px;
    margin-bottom: 16px;
}
.product__content{
    gap:32px
}
.product__img{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.overview{
    padding: 56px 120px 56px 200px;
    box-sizing: border-box;
    background: #F0F1F6;
}
.overview h2{
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 40px;
}
.overview ul{
    list-style: disc;
    margin-bottom: 32px;
    padding-left: 24px;
}
.overview ul li{
    list-style: disc;
    font-size: 17px;
    line-height: 24px;
}

.overview ul li.tag__item{
    list-style: none;
}
.overview .tags ul{
    padding-left: 0;
}

.overview .product__item{
    background: #fff;
    margin-bottom: 32px;
}
@media screen and (max-width: 1280px){
    .logo{
        padding-right: 0;
        margin-bottom: 48px;
    }
    section{
        padding: 30px 60px 80px 140px ;

    }
    .banner p{
        font-size: 17px;
        width: 557px;
        padding-right: 0;
        padding-top: 16px;
        margin-bottom: 32px;
    }
    .banner__right{
        max-width: 709px;
        max-height: 592px;
    }
    .logo img{
        max-width: 152px;
    }
    .service{
        padding-right: 59px;
        padding-top: 56px;
        padding-bottom: 30px;
    }
    .service__item p{
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .products p{
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 24px;
        gap: 4px;
    }
    .counter__item{
        height: 94px;
    }
    .counter__item span{
        line-height: 40px
    }
    .counter{
        margin-bottom: 24px;
    }
    .tags ul{
        margin-bottom: 24px;
        flex-wrap: wrap;
    }
    .carousel__item{
        padding: 16px;
        height: auto;
        margin-bottom: 24px;
    }
    .carousel__item p{
        margin-bottom: 16px;
    }
    .carousel__item img{
        margin-bottom: 16px;
    }
    .carousel__item .btn__gray{
        margin-bottom: 8px;
    }
    .service span{
        font-size: 17px;
    }
    .service h1{
        font-size: 64px;
        line-height: 72px;
        margin-bottom: 48px;
        max-width: 100%;
    }
    .service__item:last-child{
        display: block;
    }
    .service__item{
        width: 100%;
        padding: 16px;
    }
    .service__list{
        gap: 32px;
    }
    .service__item h2{
        font-size: 24px;
        line-height: 28px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .blog h1{
        font-size: 64px;
        line-height: 72px;
        margin-bottom: 40px;
    }
    .contact h1{
        font-size: 64px;
        line-height: 72px;
        margin-bottom: 16px;
    }
    .contact p{
        margin-bottom: 48px;
    }
    .blog__item h2{
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 32px;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .blog{
        padding-right: 59px;
        padding-bottom: 56px;
    }
    .blog__list{
        margin-bottom: 56px;
    }
    .contact{
        padding-top: 56px;
        padding-bottom: 48px;
        padding-right: 60px;
    }
    .contact__left li{
        font-size: 17px;
        margin-bottom: 24px;
    }
    .contact__left li span{
        font-size: 32px;
        line-height: 40px;
        font-family: 'Lato', 'sans-serif';
        font-weight: 700;
    }
    textarea{
        height: 160px;
    }
    .contact__info{
        gap: 24px;
    }
    .main__menu li a{
        padding: 24px;
        font-size: 48px;
        line-height: 56px;
    }
    .main__menu h4{
        margin-bottom: 32px;
    }
    .about__info{
        padding-right: 60px;
        padding-left: 140px;
    }
    .about__info h2{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .title__img:before{
        height: 147px;
    }
    .title__img:after{
        height: 147px;
    }
    .title__img{
        height: auto;
    }
    .about__vision{
        padding-right: 60px;
        padding-left: 140px;
        margin-bottom: 48px;
    }
    .about__vision > div{
        width: 100%;
    }
    .get__in__touch{
        margin-left: 140px;
        margin-right: 60px;
        max-width: 100%;
        padding: 40px;
    }
    .category{
        padding-left: 140px;
        padding-right: 60px;
    }
    .category h1{
        margin-bottom: 24px;
    }
    .post__item{
        padding: 16px;
    }
    .post__item h3{
        font-size: 24px;
        line-height: 28px;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .back__icon{
        margin-bottom: 24px;
    }
    .category .post__title{
        margin-bottom: 24px;
    }
    .post__date{
        margin-bottom: 24px;
    }
    .post__content{
        margin-top: 24px;
    }
    .post__content h4{
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .post__content ul{
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .post__btn{
        margin-top: 24px;
    }
    .all{
        padding-left: 140px;
        padding-right: 59px;
    }
    .categories__left{
        max-width: 339px;
    }
    .categories__right{
        max-width: 100%;
    }
    .product__item{
        width: 47%;
    }
    .single__product{
        padding-left: 140px;
        padding-right: 60px;
    }
    .product__title{
        margin-top: 24px;
    }
    .product__info div:first-child{
        margin-bottom: 16px;
    }
    .price{
        margin-bottom: 16px;
    }
    .overview{
        padding: 40px 60px 40px 140px;
    }
    .overview ul{
        margin-bottom: 24px;
        padding-right: 185px;
    }
    .overview .product__item{
        width: 31%;
        margin-bottom: 24px;
    }
    .all h1{
        margin-bottom: 24px;
        margin-top: 0;
    }
    .categories__right h3{
        margin-bottom: 16px;
    }
    .search__menu input{
        max-width: 800px;
    }
}

@media screen and (max-width: 1024px){
    .product__item{
        width: 100%;
    }
    .categories__left {
        max-width: 280px;
    }
    .overview .product__item{
        width: 100%;
    }
    .about__info p{
        font-size: 24px;
        line-height: 28px;
    }
    .get__in__touch .get__title{
        font-size: 64px;
        line-height: 72px;
    }
    .post__list{
        gap: 24px;
    }
    .banner h1{
        font-size: 64px;
        line-height: 72px;
    }
    .banner p{
        width: 400px;
        padding-bottom: 16px;
    }
    .search__menu input{
        max-width: 600px;
    }
}

@media  screen and (max-width: 990px) {
    .banner__left{
        left: 140px;
    }
}

@media screen and (max-width: 768px){
    .banner__left{
        position: relative;
        left: 0;
        bottom: 0;
        order: 1;
    }

    .banner{
        flex-direction: column-reverse;
    }
    .banner__right{
        order: 2;
    }
    .banner h1{
        font-size: 56px;
        line-height: 64px;
    }
    .banner p{
        width: 100%;
    }

    header{
        position: relative;
        flex-direction: row;
        height: 84px;
        width: 100%;
        align-items: center;
        padding: 24px;
        box-sizing: border-box;
        border: 1px solid #14191C40;
        background: #fff;
    }
    .header__middle{
        display: none;
    }
    .header__bottom{
        display: none;
    }
    .header__top{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .menu__logo{
        display: flex;
        width: 120px;
    }
    section{
        padding: 24px;
    }
    .logo{
        display: none;
    }
    .mob__social{
        display: block;
        margin-top: 40px;
    }
    .social__icons{
        flex-direction: row;
        gap: 16px;
        margin-top: 12px;

    }

    .banner__right .partner__logo{
        display: none;
    }

    .banner__left .partner__logo{
        display: flex;
        justify-content: flex-start;
        margin-top: 40px;
    }

    .catalog__btn{
        margin-bottom: 16px;
        width: 231px;
        background: #ED1C24;
        color: #fff;
    }
    
    .banner__left .btn__red{
        color: #14191CD9;
        background: #fff;
    }

}